<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DealOrNoDeal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DealOrNoDeal.Properties.Settings>
            <setting name="ErsterScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZweiterScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DritterScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ErsterName" serializeAs="String">
                <value />
            </setting>
            <setting name="ZweiterName" serializeAs="String">
                <value />
            </setting>
            <setting name="DriterName" serializeAs="String">
                <value />
            </setting>
        </DealOrNoDeal.Properties.Settings>
    </userSettings>
</configuration>